// app global css

@font-face
  font-family Dropper
  src url(./fonts/Dropper-Regular.otf)

@font-face
  font-family Dropper
  src url(./fonts/Dropper-Bold.otf)
  font-weight bold;

@font-face
  font-family DropperSlimMedium
  src url(./fonts/Dropper-SlimMedium.otf)

@font-face
  font-family DropperSlim
  src url(./fonts/Dropper-SlimBold.otf)
  font-weight bold

body {
  font-family: 'Dropper';
}

h1 {
  font-size: 35px;
  margin: 0 0 33px 0;
  padding 0;
  line-height: initial;
  font-family: DropperSlimMedium
}
h2 {
  font-size: 16pt;
  font-family: 'DropperSlimMedium'
}

p {
  margin-top: 0;
  padding 0;
  font-size: 14px;
  line-height 21px;
}
